<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= @title %></title>
<%= stylesheet_link_tag :all %>

</head>
<body>
  <div id="header">
    <%= image_tag("logo.png", :alt => "Wanna be Rockateer", :width => 750, :height => 150)%>
</div>

<div id="navigation">
  <ul>
    <l1><%= link_to "Contact", contact_path %>
    <l1><%= link_to "Tests", tests_path %>
    <l1><%= link_to "About", about_path  %>
    <l1><%= link_to "Home", home_path %>
  </ul>
</div>

<div id="content">

  <%= yield %>


  <center>
<a href="http://twitter.com/_dkissell" class="twitter-follow-button" data-show-count="false">Follow @_dkissell</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
</div>

<div id="footer">

</center>
</div>

</body>
</html>
